@page "/list"

@using BlazorExam.Data
@using Newtonsoft.Json

@inject IJSRuntime jsRuntime


<h1>Saved Items</h1>

<div class="d-flex flex-row">
@foreach (var Item in MyApiUrls)
{
  <div class="mr-4">
    <input type="radio" name="technology" id="@Item.name" value="@Item.name"  @oninput="@ChangeSource" />
    <label class="pointer" for="@Item.name">@Item.name</label>
  </div>
}
</div>



@* dili jud ni angay. sayup jud ni pero kani lng sa. ma refactor ra ni later *@
@if (Type == "Todos")
{
  <SavedItems Source="Todos"/>
}
else if (Type == "Albums") 
{
  <SavedItems Source="Albums"/>

}
else if (Type == "Posts") 
{
  <SavedItems Source="Posts"/>

} else {
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Please Select Source</h1>
    <p class="lead">You will then see the list of items saved by source.</p>
  </div>
</div>
}


@code {

  private string Type;
  private List<JsonData> ApiData = new List<JsonData>();

  private List<ApiUrls> MyApiUrls = ApiService.MyApiUrls;

  
  private void ChangeSource(ChangeEventArgs Args)
  {
    Type = Args.Value.ToString();
  }

  private async Task FetchSavedData(string Type) 
  {
    try
    {
      var Response = await jsRuntime.InvokeAsync<string>("FetchSavedItems", "Todos");

      Console.WriteLine(Response);

      ApiData = JsonConvert.DeserializeObject<List<JsonData>>(Response);

      Console.WriteLine(ApiData);

      Console.WriteLine("hello from list mounted");
      StateHasChanged();
    }
    catch (Exception exception)
    {
      Console.WriteLine("Exception Hit------------");
      Console.WriteLine(exception);
    }

    
  } 

  protected override async Task OnAfterRenderAsync(bool FirstRender)
  {

    if (FirstRender)
    {
      await FetchSavedData("Todos");
    }
  }
}
