@page "/search"

@using BlazorExam.Data
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Components.Web
@inject WeatherForecastService ForecastService

@inject IJSRuntime jsRuntime


<h1>Search</h1>

<TextField OnTextInput="TextInputHandler" />
<div class="d-flex flex-row mt-5">
  @foreach (var item in myApiUrls)
  {
  <div class="mr-4">
    <input type="radio" name="technology" id="@item.name" value="@item.url"  @oninput="@RadioSelection" />
    <label for="@item.name">@item.name</label>
  </div>
  }
</div>

@if (radioValue != null) {
<div>
  Current URL for fetching: <span class="text-bold">@radioValue</span>
</div>
}



    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in data)
            {
                <tr class="pointer" @onclick="@(e => SaveItem(item))">
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                </tr>
            }
        </tbody>
    </table>
@code {
  private WeatherForecast[] forecasts;

  List<JsonData> data = new List<JsonData>();
  string radioValue = "";

  List<ApiUrls> myApiUrls = new List<ApiUrls>
  {
  new ApiUrls{name = "Albums", url = "https://jsonplaceholder.typicode.com/albums"},
  new ApiUrls{name = "Todos", url = "https://jsonplaceholder.typicode.com/todos"},
  new ApiUrls{name = "Posts", url = "https://jsonplaceholder.typicode.com/posts"},
  };

    string message = "";



  private async Task SaveItem(JsonData test)
  {

    var str = String.Join(",", test);

    Console.WriteLine(test.Title);

      var value = myApiUrls.First(item => item.url == radioValue).name;


      @* await jsRuntime.InvokeVoidAsync("SaveToLocalStorage", "test", data); *@
      await jsRuntime.InvokeVoidAsync("SaveToLocalStorage", value, test);
  }
  private async Task ShowAlert()
  {
      @* await jsRuntime.InvokeVoidAsync("SaveToLocalStorage", "test", data); *@
      await jsRuntime.InvokeVoidAsync("ShowAlert", message);
  }
  private class JsonData
  {
    public int Id { get; set; }
    public string Title { get; set; }
    public int UserId { get; set; }
    public string Body { get; set; }
    public bool Completed { get; set; }
  }

  class ApiUrls
  {
    public string name { get; set; }
    public string url { get; set; }
  }

  async void RadioSelection(ChangeEventArgs args)
  {

    radioValue = args.Value.ToString();
    if (radioValue == "")
    {
      return;
    }
    var response = await ApiService.GetDataFromUrl(radioValue);
    data = JsonConvert.DeserializeObject<List<JsonData>>(response);
    StateHasChanged();

  }

  private async void TextInputHandler(string newMessage)
  {

    if (radioValue == "")
    {
      return;
    }

    var response = await ApiService.GetDataFromUrl(radioValue);
    data = JsonConvert.DeserializeObject<List<JsonData>>(response);
    StateHasChanged();

  }

  private async void FetchData()
  {

    var response = await ApiService.GetDataFromUrl(radioValue);
    data = JsonConvert.DeserializeObject<List<JsonData>>(response);
    StateHasChanged();

    Console.WriteLine("this is the response from API {0}", response);

  }
}    